main{
    background-color: #faeec6;
}

.slider {
position:relative;
z-index: 1;
height: 100vh;
}

.slider-item01 {
    background:url(/assets/img/ls.jpg);
}

.slider-item02 {
    background:url(/assets/img/misahiro.jpg);
}

.slider-item03 {
    background:url(/assets/img/new.jpg);
}

.slider-item04 {
    background:url(/assets/img/tamai.jpg);
}

.slider-item05 {
    background:url(/assets/img/tds.jpg);
}

.slider-item {
    width: 100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    .slick-prev,
    .slick-next {
        position: absolute;
        z-index: 3;
        top: 42%;
        cursor: pointer;
        outline: none;
        border-top: 2px solid #ccc;
        border-right: 2px solid #ccc;
        height: 25px;
        width: 25px;
    }

    .slick-prev {
        left:2.5%;
        transform: rotate(-135deg);
    }

    .slick-next {
        right:2.5%;
        transform: rotate(45deg);
    }

    .slick-dots {
    position: relative;
    z-index: 3;
    text-align:center;
    margin:-100px 0 0 0;
    }

    .slick-dots li {
        display:inline-block;
    margin:0 5px;
    }

    .slick-dots button {
        color: transparent;
        outline: none;
        width:8px;
        height:8px;
        display:block;
        border-radius:50%;
        background:#ccc;
    }

    .slick-dots .slick-active button{
        background:#333;
        opacity: 0;
    }

    ul{
    margin:0;
    padding: 0;
    list-style: none;
    }

    a{
    color: #fff;
    }

    a:hover,
    a:active{
    text-decoration: none;
    }

    .POSSE{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    text-align: center;
    font-size:8vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    -webkit-text-stroke: 4px #f4a45f;
    font-family: 'Amatic SC', cursive;
    }

    .wrapper-hero{
    position: relative;
    }

/* css */

/* 全体共通css */

.header{
    display: flex;
    align-items: center;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f4a45f;
    padding: 0 24px;/*余白の設定*/
    z-index: 10000;/*ヘッダーが一番上に表示されるように順序を設定*/
    transition: background-color 0.3s linear;
    justify-content: center;
}

.header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header.fixed {
    z-index: 1000;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 48px;
}

.header-navList{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.heading{
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: .05em;
    display: block;
    font-weight: bold;
    padding-top: 180px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.head-sentence{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: .05em;
    display: block;
    padding-bottom: 50px;
}

.header-navLink {
    font-size: 18px; /* Set your default font size */
    transition: font-size 0.3s ease; /* Add a smooth transition effect */

    /* Additional styling (if needed) */
    text-decoration: none;
    color: white;
}

.header-navLink:hover {
    font-size: 22px; /* Set the increased font size on hover */
}


/* メインページcss */
.wrapper {
    padding: 80px 0 160px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.slogan{
    text-align: center;
    gap: 8px;
    font-weight: bold;
    line-height: 1.5;
    font-size: 70px;
    letter-spacing: .1em;
    margin-top: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0);
    text-shadow: 3px 3px 0 rgb(221, 160, 85);
    -webkit-text-stroke: 1px #888;
    padding-top: 200px;
}


.title {
    justify-content: center;
    align-items: center;
    display: flex;
}



.title-ja {
    font-size: 45px;
    line-height: 1.5;
    letter-spacing: .05em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    font-weight: bold;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 50 24px;
}

.section {
    padding-top: 80px;
    margin-top: -80px;
}

.section-lead{
    text-align: center;
    padding: 30px 50px;
    font-size: 25px;
    line-height: 2;
}


.change{
    margin-top: 50px;
    font-weight: bold;
    font-size: 35px;
    border-bottom: solid;
    border-bottom-color: orangered;
    width: 100%;
}
.section-lead1{
    padding: 40px 50px;
}

.section-body {
    margin-top: 0px;
}


.daily{
    border:  solid #000 2px;
    border-radius: 40px;
    margin: 0px 60px;
    margin: 0 auto;
    padding: 50px;
    width: 1000px;
}

.daily-list {
    display: flex;
    flex-direction: column;
    gap: 120px;
}


.section-head{
    display: flex;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 40px;
    min-height: 250px;
    margin-left: -100px;
}


.daily-item {
    display: flex;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 40px;
    min-height: 324px;
    margin-left: -100px;
}


.daily-itemImage1 {
    margin: 40px;
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
    height: 270px;
    flex-shrink: 0;
}

.daily-itemImage2 {
    margin: 65px 40px;
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
    height: 220px;
    flex-shrink: 0;
}

.daily-itemImage3 {
    margin: 30px 40px;
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
    height: 290px;
    flex-shrink: 0;
}

.daily-itemImage img {
    object-fit: cover;
}

.daily-itemBody {
    padding: 48px 10px;
    width: 100%;
}

/* .daily-titleNumber {
    font-weight: bold;
    font-size: 58px;
    line-height: 1;
    letter-spacing: .05em;
    color: #f4a45f;
    font-family: "Plus Jakarta Sans", sans-serif;
 } */

.daily-titleText {
    font-weight: bold;
    background-color: #f4a45f;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: .05em;
    margin-top: 15px;
    margin-right: 20px;
}

.daily-outline {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.daily-outlineItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    line-height: 1.5;
    font-size: 14px;
    letter-spacing: .1em;
    margin-left: 10px;
}

.daily-description {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: .05em;
    margin-top: 12px;

}

.p5{
    font-size: 18px;
}

/* 新歓情報css */
.p3{
    padding-top: 30px;
}

.line-footer{
    margin-top: 32px;
}

.line-button{
    display: block;
    width: 315px;
    margin: 0 auto;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #f4a45f;
    line-height: 1.5;
    letter-spacing: 0.1em;
    background-color: #FFFFFF;
    border: solid 1px #f4a45f;
    border-radius: 50px;
    position: relative;
}

.line-button:hover{
    background-color: #f4a45f;
    color: #FFFFFF;
    border: #FFFFFF;
    text-align: center;
}

.line-icon{
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.line-button:hover .line-icon g {
    stroke: var(--white-color);
}

.kyoumi{
    text-align: center;
    font-size: 20px;
    padding-bottom: ;
}

.setumei{
    padding-top: 20px;
}


.welcome-lead{
    text-align: center;
    margin-top: 50px;
}

.welcome-body{
    display: flex;
}

.welcome-container{
    padding: 100px 0px;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
    padding: 50 24px;
}

.welcome-header{
    font-weight: bold;
    margin: 0 auto;
    font-size: 25px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
}
.welcome-item:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.welcome-item {
    display: flex;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 40px;
    min-height: 324px;
}

.welcome{
    border:  solid #000 2px;
    border-radius: 40px;
    margin: 50px;
}

.welcome-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.welcome-itemImage {
    border-radius: 10px;
    overflow: hidden;
    width: 480px;
    height: 320px;
    flex-shrink: 0;
    margin-top: -40px;
}

.imgw{
    max-width: 130%;
    height: auto;
}

.welcome-itemImage img {
    object-fit: cover;
}


.welcome-itemBody {
    padding: 48px 56px;
    width: 100%;
}

.welcome-titleNumber {
    font-weight: bold;
    font-size: 58px;
    line-height: 1;
    letter-spacing: .05em;
    color: #f4a45f;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.welcome-titleText {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: .05em;
    margin-left: 20px;
}

.welcome-outline {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.welcome-outlineItem::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url(../img/icon-check.svg);
}

.welcome-outlineItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    line-height: 1.5;
    font-size: 14px;
    letter-spacing: .1em;
}

.welcome-description {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: .05em;
    margin-top: 12px;
}

.triangle {
    width: 40px;
    height: 0;
    border-style: solid;
    border-right: 27px solid transparent;
    border-left: 27px solid transparent;
    border-top: 40px solid #555;
    border-bottom: 0;
    border-radius: 5px;
    margin: 0 auto;
}


.button {
    text-align: center;
    background-color: #4CAF50;
    padding: 15px 32px;
    display: flex;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    margin-top: 50px;
    width: 220px;
}

.button-text{
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
}


button:hover {
    background-color: #3e8e41;
}


/* メンバーの声css */
.member-name{
    font-size: 40px;
}

.name{
    margin-bottom: 5px;
    justify-content: center;
}

.time{
    display: flex;
    margin-top: 20px;
}

.voice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
font-size: 88%;
color: #e36200;
text-shadow: 0 1px 0 #fff;
margin: 0;
padding: 0;
text-decoration: none;
width: 100%;
margin-bottom: 5px;
border: 0;
height: 3px;
background: #f19705;
box-shadow: 0 1px 0 #fff;
justify-content: center;
}

.box {
    /* min-height: 250px; */
    padding: 20px;
    color: black;
    background-color: #fff;
    border-radius: 20px;
    width: 600px;
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 3px 5px orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.explain-text{
    margin: 10px;
    margin-right: 20px;
}

.time-img{
    margin-bottom: 20px;
}

.p-ryota{
    width: 370px;
}


/* 活動の様子css */
.photo-title{
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 100px;
}

.image-container {
    width: 200px;
    height: 150px;
    margin: 7px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
}



/* QandAのcss */
.main-title{
    padding-top: 180px;
    margin-bottom: 60px;
    line-height: 1.0;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 40px;
}

.section-qanda{

}

.qanda-dailist{
    border: 1px solid #000;
}

.qanda-list{
    padding: 15px 75px 15px 60px;
    border-bottom: 1px solid #000;
}

.span{
    font-weight: bold;
    line-height: 1.0;
    left: 20px;
    top: 15px;
}

.q-list{
    padding-bottom: 20px;
    padding-top: 10px;
}

.a-list{
    padding-bottom: 10px;
}

.question__tab {
    display: flex;
    gap: 24px;
}

.question__tab__button {
    background: #a5a5a5;
    color: #fff;
    border-radius: 10px 10px 0 0;
    width: 33.3333%;
    text-align: center;
    padding: 20px 8px;
}

.question__tab__button:hover{
    background-color: #f4a45f;
}

.question__tab__button[aria-selected=true] {
    background: #333;
    font-weight: bold;
}
.question__panel {
    background-color: #fff;
    border: solid 1px #333;
    border-radius: 0 0 25px 25px;
    padding: 32px 32px 40px;
}
.question__panel__item[aria-hidden=true] {
    display: none;
}
.question__panel__item__title {
    font-size: 18px;
    font-weight: bold;
}
.question__panel__item__text {
    margin-top: 24px;
}

.question__inner{
    padding: 0 200px;
}

.qandaimg{
    height: 350px;
    width: 350px;
}

.space{
    height: 100px;
    background-color: #faeec6;
}

/* footerのcss */
html {
    font-family: sans-serif;

    }
    
    body {
    background-color: #f4a45f;
    }
    
    
    a {
        color: #f36507;
        text-decoration: none;
    }
    

    hr {
        height: 1px;
        border: 0;
        border-top: 1px solid #e5e7eb;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .footer {
        margin-top: 30px;
        padding: 2rem;
        font-size: 15px;
        color: white;
    background-color: #f4a45f;
    }

.sns{
    display: flex;
    gap: 20px;
}


    
    @media (min-width: 768px) {
        .md-flex {
        display: flex;
        }
    
        .md-justify-between {
        justify-content: space-between;
        }
    
        .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

